* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
}

#container {
  width: 100%;
  margin: auto;
  background: #fefefe;
  box-shadow: 0 0 10px -8px black;
}

header {
  background: #fefefe;
  box-shadow: 0 4px 5px -7px black;
  height: 6em;
  position: sticky;
  top: -2.2em;
  z-index: 1;
}
header p {
  display: none;
  position: absolute;
  bottom: 0.2em;
  right: 2em;
  font-size: 1.8em;
}
header nav {
  display: inline;
  position: absolute;
  bottom: 0.4em;
}
header nav a {
  color: #828282;
  font-size: 1.6em;
  text-decoration: none;
}
header nav a:hover {
  color: #424242;
}
header nav a.active {
  color: #242424;
}
header nav li {
  margin-left: 1em;
}
header nav li, header nav ul {
  display: inline;
}

section {
  padding: 1em;
}
section h3 {
  font-size: 1.7em;
  font-weight: lighter;
  padding-bottom: 0.5em;
  padding-left: 0em;
  color: #424242;
}
section h3 span {
  letter-spacing: 0.18em;
}
section h2 {
  font-size: 2em;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-left: 0em;
}
section h2 span {
  letter-spacing: 0.2em;
}
section p {
  font-size: 1.2em;
  padding-bottom: 1em;
}

#experience {
  background: #f0f0f0;
}
#experience article {
  font-size: 1.2em;
  padding-bottom: 2em;
}
#experience article ul li {
  list-style-type: none;
  color: #424242;
}
#experience article ul li::before {
  content: "- ";
}

#about {
  min-height: 40vh;
  padding-top: 6em;
  margin-top: -6em;
  display: flex;
  flex-wrap: wrap;
}
#about .about-about {
  text-align: left;
  width: 100%;
}
#about .about-skills {
  display: inline-block;
  width: 100%;
}
#about .about-skills ul {
  display: flex;
  flex-flow: row wrap;
}
#about .about-skills ul li {
  list-style-type: none;
  margin: 1em;
  padding: 0.2em 1em 0.2em 1em;
  display: inline-block;
  background: #e0e0e0;
  border-radius: 0.15em;
  border: 1px #828282 solid;
}
#about p {
  color: #424242;
}
#about strong {
  color: #242424;
}

#projects {
  padding: 1em;
  background: #e0e0e0;
}
#projects a {
  color: inherit;
  text-decoration: none;
}
#projects .project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
#projects .project-card {
  background: #fefefe;
  border: 1px solid #828282;
  border-radius: 0.2em;
  font-size: 0.8em;
  min-width: 12em;
  max-width: 15em;
  margin: 1em;
  margin-top: 2em;
  padding: 1em 2em;
  padding-bottom: 3em;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#projects .project-card::before {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  content: "";
}
#projects .project-card:hover {
  transform: scale(1.1);
}
#projects .project-card:hover::after {
  content: "View source (GitHub)";
  color: #fefefe;
  padding: 0;
  position: absolute;
  top: calc(50% - 2em);
  margin: auto;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#projects .project-card:hover::before {
  background: rgba(50, 50, 50, 0.7);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}
#projects .project-card p {
  color: #424242;
}
#projects .project-card .buttons {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 0;
}
#projects .project-card .buttons button {
  width: calc(50% - 1px);
  height: 2.8em;
  border: 0;
  margin: 0 -1px 0 -1px;
  outline: 0;
  background: #f0f0f0;
  color: #424242;
  font-size: 1.1em;
  transition: 0.2s ease-in-out all;
}
#projects .project-card .buttons button:hover {
  background: #fefefe;
  cursor: pointer;
}
#projects .project-card h3 {
  font-size: 1.4em;
  padding-bottom: 0.8em;
  font-weight: normal;
}
#projects .project-card img {
  width: 100%;
}

#contact address {
  font-style: normal;
  position: relative;
  display: inline-block;
  height: 15em;
}
#contact address footer {
  position: absolute;
  bottom: 0;
}
#contact .contactsection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
#contact form.contact {
  margin-left: 3em;
  display: inline-block;
  width: 100%;
  max-width: 24em;
  height: 18em;
}
#contact form.contact .submit {
  max-width: 10em;
  float: right;
}
#contact form.contact input, #contact form.contact textarea {
  font-size: 1em;
  display: block;
  width: calc(100% - .2em);
  border: 1px solid #828282;
  padding: 0.2em;
  padding-right: 0;
  border-radius: 4px;
  margin-bottom: 0.5em;
  resize: none;
}

.text-muted {
  color: #828282;
}

@media (min-width: 768px) {
  #experience article {
    padding-left: 3em;
    padding-right: 2em;
  }

  section h2 {
    padding-left: 2em;
  }
  section h3 {
    padding-left: 0;
  }

  #about .about-about {
    width: 70%;
  }
  #about .about-about p {
    padding-left: 3em;
    margin-right: 2em;
  }
  #about .about-skills {
    width: 30%;
  }

  .contactsection address {
    max-width: 40%;
  }

  #container {
    max-width: 720px;
  }

  header nav {
    left: 2em;
  }
  header p {
    display: inline;
  }
}
footer {
  padding: 0em 1em 0em 1em;
}
footer .links {
  float: right;
}

@media (min-width: 992px) {
  #container {
    max-width: 992px;
  }

  #about {
    padding-top: 8em;
  }
  #about .about-image {
    width: 40%;
    display: inline;
  }
  #about .about-info {
    padding-left: 4em;
    position: relative;
    max-width: 60%;
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
